// page search
.title-search {
    display: block;
    margin-bottom: 20px;
    h3 {
        @include title();
        span {
            @include summary();
            font-size: 22px;
            font-weight: bold;
        }
    }
}
.search {
    float: right;
    display: block;
    margin-top: 5px;
    .form-control {
        border: none;
        color: #fff;
        background: transparent;
        &::placeholder {
            color: #fff;
        }
    }
    .btn-search {
        color: #fff;
    }
}

